ul {
  padding-inline-start: 0;
}
body {
  max-width: 40rem;
  margin: 0 auto;
  border: solid 1px grey;
  overflow-y: scroll;
}
button {
  padding: 0;
}

.list {
  border-top: solid 1px grey;
  margin: 0 auto;
  max-width: 32rem;
  list-style: none;
}
.btn {
  max-height: 3rem;
  transition: max-height 0.5s;
  width: 100%;
  border-width: 0;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.btn:focus + .item{
  max-height: 32rem;
  transition: max-height 0.5s;
}
.item {
  max-height: 0;
  overflow: hidden;
  border-bottom: solid 1px grey;
  transition: max-height 0.5s;
  cursor: pointer;
}
.text {
  font-size: 1.5rem;
  padding: 0.4rem 0.625rem;
  background-color: rgb(239,239,239);
  
}
.image {
  margin: 0.7rem calc(30%/2);
  width: 70%;
}
.btn:hover + .item{
  max-height: 32rem;
  transition: max-height 0.5s;
}